 body {
    margin: 0;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
}
.page {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
#viz-container{
    margin: 0 auto;
}
.single_viz{
    margin-bottom: 10px;
    height: 300px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    /*background-color: black;*/
}
#map{
    height: 400px;
}
#bubble{
    height: 400px;
}
#favorite{
    height: 500px;
}
.text{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
}
.text p{
    font-weight: normal;
    font-size: 14px;
    text-align: justify;
    color: gray;
}
.chart{
    position: relative;
    float: left;
    height: 100%;
    width: 70%;
}
#legend{
    position: relative;
    float: left;
    height: 60px;
    width: 100%;
}
.allFavorites {
    position: relative;
    float: right;
    width: 70%;
    height: 100%;
    background-color: white;
    text-align: center;
}
.favorites{
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
}
.favorites h4{
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px
}
.favorites div svg{
    margin: 0 auto;
    width: 50%;
    margin-left: 70px;
}
hr{
   height: 1px;
   border: 0;
   background-image: linear-gradient(135deg, #F37055 0%, #EF4E7B 52%, #C55B95 77%, #A166AB 100%);
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 12px;
    width: 120px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    font-size: 12px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 12px;
    width: 120px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 5px;
}
.button:hover {background-color: #3e8e41}
